.country-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-height: 10rem;
    margin: 1rem 0rem;
    border-radius: 10px;
}

.country-img {
    width: 25%;
}

.flag-div {
    border-bottom: 1px solid #eee3e3;
    padding-bottom: 1rem;
}