.main-container {
    border: gray;
}

.search-container {
    height: 5rem;
    border: 1px solid;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    margin: 1rem 0rem 2rem;
}

.searchInput {
    width: 80%;
    border-radius: 18px;
    border: 1px solid #ca6464;
    height: 2rem;
    margin: auto;
    padding: 1rem;
}

.logo {
    width: 15%;
    padding: 1rem;
}
.container {
    background-color: white;
}
.countries-container {
    height: 75vh;
    overflow-y: scroll;
}